<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Hobby</title>
    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<div class="center" id="mainDiv">
    <h3>Add new Hobby</h3>
    <form th:object="${hobby}" th:action="@{/hobby/add}" method="post">
        <table>
            <tr>
                <td>Hobby Name:</td>
                <td><input type="text" required="required" th:field="*{hobbyName}"/></td>
            </tr>
            <tr>
                <td>Hobby Category:</td>
                <td><input type="text" required="required" th:field="*{hobbyCategory}"/></td>
            </tr>
            <tr>
                <td>Hobby Description:</td>
                <td><input type="text" required="required" th:field="*{hobbyDescription}"/></td>
            </tr>

        </table>
        <input class="button" type="submit" value="Add"/>
        <input class="button" type="reset" value="Reset"/>
    </form>
</div>
</body>
</html>