<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Hobbies</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="center" id="mainDiv">
    <h3 id="header"> Welcome to the Team Home Page</h3>
    <img src="../image/GREEN NOT GREED.jpg"/>
    <table>
        <tr>
            <td>
                <img src="../image/KatrinaSchmidt.jpg" alt="Picture of Kat" style="width: 30%">
            </td>
            <td>
                <ul>
                    <li>I really enjoy drawing and painting</li>
                    <li>Hard worker</li>
                    <li>Two 8 month coop jobs, one at the Police headquarters, and another at Equitable Life</li>
                    <li>Enjoys short walks along the beach cus I'm lazy haha</li>
                    <li>Loves animals</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <img src="../image/WinChhor.jpg" alt="Picture of Win" style="width: 45%">
            </td>
            <td>
                <ul>
                    <li>Began programming in 2017, programming fits well with my personality and way of thinking</li>
                    <li>Did a co-op at BlackBerry where I worked on a C#/ASP.NET app used by whole company</li>
                    <li>I train in Muay Thai/Kickboxing since 2015</li>
                    <li>I love to listen to music, I have been playing piano since 2011</li>
                    <li>I like to read about Jungian Psychology</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../image/AlexSteinberg.JPG" alt="Picture of Alex" style="width: 50%">
            </td>
            <td>
                <ul>
                    <li>Have a diploma in Controls Engineering</li>
                    <li>Did a co-op at PeerGroup where I worked as a Full Stack Developer</li>
                    <li>I like to think i am cool ;)</li>
                    <li>I like to program especially for things that have never been done before</li>
                    <li>Avid Coffee Lover</li>
                </ul>
            </td>
        </tr>
    </table>

    <p>Welcome to our homepage. Our team is called AWK, it's a clever name that takes the first letter of all our first
        names. We're also in a capstone group together and have known each other since first year. Welcome to this page
        team members and feel free to learn more about this team!! </p>
    <video width="320" height="240" controls>
        <source src="/video/AWK_A1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!--
    <h3> <span th:text="${welcome}"> </span></h3>
-->
    <a class="memberLink" th:href="@{/member/members}">Next Page - Member List View</a>
    <a class="memberLink" th:href="@{/hobby/hobbies}">Next Page - Hobbies List View</a>


</div>

</body>
</html>