<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Hobbies</title>
    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<h1>Update Think Tank</h1>
<div class="center" id="mainDiv">

    <form th:object="${hobby}" th:action="@{/hobby/update/{id}(id=${hobby.hobbyId})}" method="post">
        <table>
            <input type="hidden" th:field="*{hobbyId}"/>
            <tr>
                <td>Name:</td>
                <td><input type="text" required="required" th:field="*{hobbyName}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" required="required" th:field="*{hobbyCategory}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" required="required" th:field="*{hobbyDescription}"/></td>
            </tr>
        </table>
        <input class="button" type="submit" value="Update"/>
        <input class="button" type="reset" value="Reset"/>
    </form>
</div>
</body>
</html>